body {

    background-color:#f2f2f2;
   
}

h1 {
    color:black ;
    font-family:sans-serif ;
    font-size:250% ;
    text-align: center;
}

h3 {
    color: #333333;
    font-family: sans-serif;
    font-size:150% ;
}

p {
    color:black;
    font-family:serif ;
    font-size: 100%;
}

ul {
    list-style-type: square;
}

#ram {
    width: 800px;
    overflow: auto;
    border: 1px, solid black;
    margin: auto;
}

img{
    width: 800px;
}

 a:link {
    color: black;
}

/*a:visited {
    color: purple;
}*/

a:hover {
    color: red;
}